{% extends "organizations/org_admin_base.html" %}
{% load i18n %}

{% block main_content %}
<div class="row">
    <div id="side-nav" class="side-nav side-tabnav col-md-3">
        {% block left_panel %}
        <h3 class="hd">{% trans "Admin" %}</h3>
        <ul class="side-tabnav-tabs">
            <li class="tab {% block cur_manage %}{% endblock %}">
            <a href="{% url 'org_manage' %}"><span class="sf2-icon-organization"></span>{% trans "Info" %}</a>
            </li>
            <li class="tab {% block cur_repo %}{% endblock %}">
            <a href="{% url 'org_repo_admin' %}"><span class="sf2-icon-library"></span>{% trans "Libraries" %}</a>
            </li>
            <li class="tab {% block cur_users %}{% endblock %}">
            <a href="{% url 'org_user_admin' %}"><span class="sf2-icon-user"></span>{% trans "Users" %}</a>
            </li>
            <li class="tab {% block cur_groups %}{% endblock %}">
            <a href="{% url 'org_group_admin' %}"><span class="sf2-icon-group"></span>{% trans "Groups" %}</a>
            </li>
            <li class="tab {% block cur_links %}{% endblock %}">
            <a href="{% url 'org_publink_admin' %}"><span class="sf2-icon-link"></span>{% trans "Links" %}</a>
            </li>
            <li class="tab {% block cur_log %}{% endblock %}">
            <a href="{% url 'org_log_file_audit' %}"><span class="sf2-icon-clock"></span>{% trans "Logs" %}</a>
            </li>
        </ul>
        {% endblock %}
    </div>

    <div id="right-panel" class="col-md-9 col-md-offset-3">
        {% block right_panel %}{% endblock %}
    </div>
</div>
{% endblock %}
